<h1>Listado de productos</h1>

<!-- Botón para ir al carrito -->
<div style="margin-bottom: 20px;">
  <a href="/carts/692f9013d6b4154d791e0445" 
     style="padding:10px 15px; background:#2b7cff; color:white; border-radius:5px; text-decoration:none;">
     Ver carrito 🛒
  </a>
</div>

<ul>
  {{#each productos}}
    <li>
      <strong>{{descripcion}}</strong> — ${{precio}}
      {{#if esDescuento}}
        <span style="color: red;">(Descuento)</span>
      {{/if}}
    </li>
  {{/each}}
</ul>
